@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* App content */
  .main-content {
    height: calc(100vh - 30px);
  }

  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Menu item */
  .selected {
    @apply bg-base-200;
    border-radius: var(--rounded-btn, 0.5rem/* 8px */)
  }

  /* Title-bar */
  .titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
  }

  .titlebar-icon {
    -webkit-app-region: no-drag;
    height: 16px;
    width: 16px;
  }

  /* Scrollbar */
  .scrollbar-wrapper {
    overflow: auto;
  }

  .scrollbar {
    overflow: auto;
    height: 100%;
    /*overflow-y: auto;*/
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-base-200;
    border-radius: 4px;
    @apply hover:bg-base-300;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-base-100/80;
    @apply hover:bg-base-100;
    border-radius: 4px;
  }

  /* Menu */
  .display-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*min-width: 0;*/
    /*text-indent: 0;*/
    /*transition: text-indent 0.5s;*/
  }

  /*.display-truncated:hover {*/
  /*  @apply truncate-scroll;*/
  /*}*/

  /*.truncate-scroll {*/
  /*  text-indent: -100%;*/
  /*  text-overflow: clip;*/
  /*  transition: text-indent 5s linear;*/
  /*}*/

  @keyframes scroll {
    0% {
      text-indent: 0;
    }
    50% {
      text-indent: -100%;
    }
    100% {
      text-indent: 0;
    }
  }

  .scrolling:hover {
    animation: scroll 10s ease-in-out infinite;
  }
}

@media (max-width: 835px) {
  .hide-on-small-window {
    display: none;
  }
}
@media (min-width: 836px) {
  .hide-on-large-window {
    display: none;
  }
}

/* TODO MANAGE (USES DEFAULT SYSTEM FONT)
body, input {
  font: menu;
}
*/