@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ddd;
    color: black;
  }
}
*/

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}